<a href="https://colab.research.google.com/github/saikrishna232/Advanced-House-Price-Prediction/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Feature Engineering**

Below steps will be dealt in Feature Engineering

1. Missing values
2. Temporal variables
3. Categorical variables: remove rare labels
4. Standarise the values of the variables to the same range

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib.inline
pd.pandas.set_option('display.max_columns', None)

UsageError: Line magic function `%matplotlib.inline` not found.

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/saikrishna232/Advanced-House-Price-Prediction/main/Data.csv',index_col=0)

# **Handling Missing Values**

**Missing Values for Categorical Featues**

In [24]:
#Replacing the missing values with a new label
Cat_Nan=[i for i in df.columns if df[i].dtypes=='O' and df[i].isnull().sum()>0]
for i in Cat_Nan:
  df[i]=np.where(df[i].isnull(),'Missing',df[i])
df[Cat_Nan].isnull().sum()

Series([], dtype: float64)

**Numerical Features**

In [22]:
Num_Nan=[i for i in df.columns if df[i].dtypes!='O' and df[i].isnull().sum()>0]
for i in Num_Nan:
  print(i,np.round(df[i].isnull().mean()*100,3),'% missing values')

LotFrontage 17.74 % missing values
MasVnrArea 0.548 % missing values
GarageYrBlt 5.548 % missing values

In [35]:
#Replacing the missing values with Medain value since we have outliers.
for i in Num_Nan:
  median_val=df[i].median()
  df[i].fillna(median_val,inplace=True)
df[Num_Nan].isnull().sum()

LotFrontage    0
MasVnrArea     0
GarageYrBlt    0
dtype: int64

**Temporal Features**
> Converting the years into age using YearSold

In [38]:
temporal_cols=[i for i in df.columns if 'Yr' in i or 'Year' in i]
temporal_cols.remove('YrSold')
temporal_cols

['YearBuilt', 'YearRemodAdd', 'GarageYrBlt']

In [39]:
for i in temporal_cols:
  df[i]=df['YrSold']-df[i]
df[temporal_cols]

      YearBuilt  YearRemodAdd  GarageYrBlt
Id
1             5             5          5.0
2            31            31         31.0
3             7             6          7.0
4            91            36          8.0
5             8             8          8.0
...         ...           ...          ...
1456          8             7          8.0
1457         32            22         32.0
1458         69             4         69.0
1459         60            14         60.0
1460         43            43         43.0

[1460 rows x 3 columns]

**Continuos Numerical Variables**
Since some skewness was observed in the distribution of continuos variables,
Applying the log normal distribution.

In [42]:
Cont_Cols=[i for i in df.columns if 0 not in df[i].unique() and df[i].dtypes!='O' and len(df[i].unique())>25]
Cont_Cols

['LotFrontage', 'LotArea', '1stFlrSF', 'GrLivArea', 'SalePrice']

In [43]:
for i in Cont_Cols:
  df[i]=np.log(df[i])

**Handling Rare Categorical Features**
> Categorical variables that are present less than 1% of the total observations will be removed.

In [45]:
Cat_Cols=[i for i in df.columns if df[i].dtypes=='O']

In [54]:
for i in Cat_Cols:
  temp=df.groupby(i)['SalePrice'].count()/len(df)
  temp_df=temp[temp>0.01].index
  df[i]=np.where(df[i].isin(temp_df),df[i],'Rare')

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

# **Feature Encoding**

In [63]:
for feature in Cat_Cols:
    labels_ordered=df.groupby([feature])['SalePrice'].mean().sort_values().index
    labels_ordered={k:i for i,k in enumerate(labels_ordered,0)}
    df[feature]=df[feature].map(labels_ordered)

# **Feature Scaling**

In [74]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_cols=df.drop(['SalePrice'],axis=1)
scaler.fit(scaled_cols)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [75]:
scaler.transform(scaled_cols)

array([[ 0.07337496,  0.35904396, -0.07586857, ...,  0.13877749,
        -0.0116685 ,  0.18301409],
       [-0.87256276,  0.35904396,  0.57242366, ..., -0.61443862,
        -0.0116685 ,  0.18301409],
       [ 0.07337496,  0.35904396,  0.06500658, ...,  0.13877749,
        -0.0116685 ,  0.18301409],
       ...,
       [ 0.30985939,  0.35904396, -0.02820043, ...,  1.64520971,
        -0.0116685 ,  0.18301409],
       [-0.87256276,  0.35904396,  0.06500658, ...,  1.64520971,
        -0.0116685 ,  0.18301409],
       [-0.87256276,  0.35904396,  0.3709213 , ...,  0.13877749,
        -0.0116685 ,  0.18301409]])

In [79]:
Final_data=pd.concat([pd.DataFrame(scaler.transform(scaled_cols),columns=scaled_cols.columns),df['SalePrice'].reset_index(drop=True)],axis=1)

In [80]:
Final_data.head()

   MSSubClass  MSZoning  LotFrontage  ...  SaleType  SaleCondition  SalePrice
0    0.073375  0.359044    -0.075869  ... -0.011669       0.183014  12.247694
1   -0.872563  0.359044     0.572424  ... -0.011669       0.183014  12.109011
2    0.073375  0.359044     0.065007  ... -0.011669       0.183014  12.317167
3    0.309859  0.359044    -0.325778  ... -0.011669      -3.302211  11.849398
4    0.073375  0.359044     0.724756  ... -0.011669       0.183014  12.429216

[5 rows x 80 columns]

In [82]:
Final_data.to_csv('Cleaned_Data')